<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:stream="http://www.springframework.org/schema/integration/stream"
             xmlns="http://www.springframework.org/schema/integration"
             xmlns:ws="http://www.springframework.org/schema/integration/ws"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/integration
			http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/ws
			http://www.springframework.org/schema/integration/ws/spring-integration-ws.xsd
			http://www.springframework.org/schema/integration/stream
			http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd">
    <channel id="mealPreferenceUpdatesChannel" />
    <beans:bean id="bookingDao" class="org.weber.siia.fundamentals.SimpleBookingDao" />
    <beans:bean id="bookingService" class="org.weber.siia.fundamentals.BookingService">
        <beans:constructor-arg ref="bookingDao" />
    </beans:bean>
    <service-activator input-channel="mealPreferenceUpdatesChannel" output-channel="bookingEnrichedMealUpdates"
                       ref="bookingService" method="populatePreference" />

    <channel id="bookingEnrichedMealUpdates" />
    <beans:bean id="updateRequestTransformer" class="org.weber.siia.fundamentals.MealPreferenceRequestTransformer" />
    <service-activator input-channel="bookingEnrichedMealUpdates" output-channel="xmlMealUpdates"
            ref="updateRequestTransformer" method="buildMealPreferenceUpdateRequest"/>

    <channel id="xmlMealUpdates" />
    <stream:stdout-channel-adapter channel="xmlMealUpdates" append-newline="true" />
    <!--
    <ws:outbound-gateway request-channel="xmlMealUpdates" uri="http://example.com/mealupdates" />
    -->


    <beans:bean id="bookingReportingService" class="org.weber.siia.fundamentals.BookingReportingService" />
</beans:beans>
